{% load static %}
{% load subtotal %}
<body>

    <!-- Cart items details -->
    <div class="small-container cart-page">
        {% if ordered_items %}
        <table>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Subtotal</th>
            </tr>
            {% for item in ordered_items %}
            <tr>
                <td>
                    <div class="cart-info">
                        <img src="{{item.product.image.url}}">
                        <div>
                            <p>{{item.title}}</p>
                            <small>Price: RS{{item.product.price}}</small>
                            <br>
                            <small>Size{{item.size}}</small>
                            <br>
                            <a href="{% url 'remove' item.id %}">Remove</a>
                        </div>
                    </div>
                </td>
                <td><input type="number" value="{{item.quantity}}" min="1" readonly ></td>
                <td>RS {{item|subtotal}}</td>
            </tr>
            {% endfor %}
        </table>
        <div class="total-price">
            <table>
                <tr>
                    <td>Total</td>
                    <td>RS {{ordered_items|totalsum}}</td>
                </tr>

                <tr>
                    <td colspan="1"><a href="{% url 'previous_orders' %}"><button class="btn">Previous Orders</button></a></td>
                    <form method="post" enctype="multipart/form-data" action="{% url 'payment' %}">
                        {% csrf_token %}
                     <input type="hidden" value="{{ordered_items|totalsum}}"   name="amount">
                    <td colspan="2"><button class="btn" type="submit">Checkout</button></td>
                    </form>
                </tr>
            </table>
        </div>
        {% else %}
        <div class="section" style="text-align: center; margin-top: 20%;">
        <h1 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">CART IS EMPTY</h1>
        <a href="{% url 'previous_orders' %}"><button class="btn">Previous Orders</button></a>
        </div>
        {% endif %}
    </div>
    


   <!-- javascript -->

    <script>
        var MenuItems = document.getElementById("MenuItems");
        MenuItems.style.maxHeight = "0px";
        function menutoggle() {
            if (MenuItems.style.maxHeight == "0px") {
                MenuItems.style.maxHeight = "200px"
            }
            else {
                MenuItems.style.maxHeight = "0px"
            }
        }
    </script>

</body>

</html>