{% load static %}
{% load subtotal %}
<body>

    <!-- Cart items details -->
    <div class="small-container cart-page">
        <table>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Subtotal</th>
            </tr>
            {% for item in ordered_items %}
            <tr>
                <td>
                    <div class="cart-info">
                        <img src="{{item.product.image.url}}">
                        <div>
                            <p>{{item.title}}</p>
                            <small>Price: RS{{item.product.price}}</small>
                            <br>
                            <small>Size{{item.size}}</small>
                            <br>
                            <a href="{% url 'remove' item.id %}">Remove</a>
                        </div>
                    </div>
                </td>
                <td><input type="number" value="{{item.quantity}}" min="1" readonly ></td>
                <td>RS {{item|subtotal}}</td>
            </tr>
            {% endfor %}
        </table>
        <div class="total-price">
            <table>
                <tr>
                    <td>Total</td>
                    <td>RS {{ordered_items|totalsum}}</td>
                </tr>

                <tr>
                    <td colspan="2"><a href="{% url 'checkout' %}"><button class="btn">Checkout</button></a></td>
                </tr>
            </table>
        </div>
    </div>


   <!-- javascript -->

    <script>
        var MenuItems = document.getElementById("MenuItems");
        MenuItems.style.maxHeight = "0px";
        function menutoggle() {
            if (MenuItems.style.maxHeight == "0px") {
                MenuItems.style.maxHeight = "200px"
            }
            else {
                MenuItems.style.maxHeight = "0px"
            }
        }
    </script>

</body>

</html>