{% extends 'base_layout.html' %}
{% block content %}
{% load price %}
<table>
    <thead>
        <th>Product</th>
        <th>Quantity</th>
        <th>Size</th>
        <th>Price</th>
        <th>Image</th>
        <th>Payment Status</th>
        <th>Purchased Date</th>
    </thead>
    <tbody>
    {% for items in previous_ordered_items %}
        <tr>
        <td>{{items.product.title}}</td>
        <td>{{items.quantity}}</td>
        <td>{{items.size}}</td>
        <td>{{items.product.price |price:items.quantity}}</td>
        <td><img src="{{items.product.image.url}}" width="100%" class="small-img"></td>
        <td>{{items.order.payment.status}}</td>
        <td>{{items.order.updated_at}}</td>
        </tr>
    {% endfor %}
    </tbody>    
</table>
{% endblock %}
